<!--
   Interface for Openstack CI metrics tool.
   Copyright 2014 Gabriel Loewen
   Microsoft Openstack CI Lab team
-->

<!doctype html>
<html>
<head>
{% load staticfiles %}
<script src="/static/jquery-1.9.1.js" type="text/javascript"></script>
<script src="/static/jquery-ui.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.time.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.canvas.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.pie.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.symbol.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.legendoncanvas.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.crosshair.js" type="text/javascript"></script>
<script src="/static/base64.js" type="text/javascript"></script>
<script src="/static/canvas2image.js" type="text/javascript"></script>
<script src="/static/flot/jquery.flot.saveAsImage.js" type="text/javascript"></script>

<!-- Get variables from Django, and pass them into corresponding Javascript arrays -->
<script type="text/javascript">
   {% if granular == True %}
   var showTime = true;
   {% else %}
   var showTime = false;
   {% endif %}
   
   {% for key, value in upstreamResults.items %}
   var upstream{{ key|cut:"openstack/"|capfirst }}Success = {{ value.0|safe }};
   var upstream{{ key|cut:"openstack/"|capfirst }}Fail = {{ value.1|safe }};
   var upstream{{ key|cut:"openstack/"|capfirst }}Miss = {{ value.2|safe }};
   {% endfor %}

   {% for key, value in mainResults.items %}
   var {{ key|cut:"openstack/" }}Success = {{ value.0|safe }};
   var {{ key|cut:"openstack/" }}Fail = {{ value.1|safe }};
   var {{ key|cut:"openstack/" }}Miss = {{ value.2|safe }};
   {% endfor %}
</script>
<script type="text/javascript" src="/static/aggregator.js"></script>
<link href="/static/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="/static/aggregator.css" rel="stylesheet" type="text/css">
<title>CI Lab Metrics Results</title>
</head>
<body>
<div id="content">
   <div id="sidebar">
      <h2>{{ name }} Results</h2><br />
      <h2 id="total"></h2>
      <h2 id="success"></h2>
      <h2 id="failed"></h2>
      <h2 id="missed"></h2><br />
      <h2>Nova:</h3>
      <div id="novaInfo"></div>
      <h2>Neutron:</h3>
      <div id="neutronInfo"></div>
      <div id="links">
      <ul>
      <li><a href="/">Go Back</a></li>
      <li><a href="/accounts/logout">Logout</a></li>
      </ul>
      </div>
   </div>

   <div id="main"><br />
      <form action="#" method="post"> {% csrf_token %}
         Start:&nbsp;<input type="text" class="datepicker" name="start" value="{{ start }}"/>&nbsp;
         End:&nbsp;<input type="text" class="datepicker" name="end" value="{{ end }}"/>&nbsp;
         <input type="submit" name="submit" value="Submit">&nbsp;
         <input type="checkbox" name="timeGranular" id="timeGranular" {% if granular %}checked{% endif %} />
         <label for="timeGranular">High Granularity</label>&nbsp;
      </form>
      <table class="graphtable">
      <tr>
      <td><h3 class="inline">Nova Tests</h3><div class="legend" id="novachartlegend"></div></td>
      </tr>
      <tr>
      <td class="linechart" id="novachart"></td>
      <td class="piechart" id="novapiechart"></td>
      </tr>
      </table> 
      <table class="graphtable">
      <tr>
      <td><h3 class="inline">Neutron Tests</h3><div class="legend" id="neutronchartlegend"></div></td>
      </tr>
      <tr>
      <td class="linechart" id="neutronchart"></td>
      <td class="piechart" id="neutronpiechart"></td>
      </tr>
      </table>
   </div>
</div>
<div id="tooltip"></div>
</body>
</html>
