<html>
<head>
</head>
<body>
<div id="index">
<h1>CI Reports:</h1>
{% if workers %}
   <ul>
   {% for worker in workers %}
      <li><a href="/static/load.php?p={{ worker.worker }}">{{ worker.worker }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p> No data available!</p>
{% endif %}
<h1>Combined Reports:</h1>
{% if combinedreports %}
   <ul>
   {% for group in combinedreports %}
      <li><a href="/static/loadcombined.php?w={{ group.workers }}&name={{ group.name }}">{{ group.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No combined reports defined!</p>
{% endif %}
<hr \>
<a style="float:right;" href="/accounts/logout">Logout</a><br />
<a style="float:right;" href="/admin">Manage</a>
<p>Copyright 2014-2015 Gabriel Loewen</p>
</div>
</body>
