* {
   margin: 0;
   padding: 0;
}

body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

a {
   color: #000;
   text-decoration: underline;
}

a:hover {
   color: blue;
}

#links {
   padding-top: 10px;
   border-top: 1px solid #ddd;
   width: 100%;
}

#links ul {
   list-style-type: none;
   padding-left: 5px;
}

#content {
   width: 100%;
   height: 100%;
}

.inline {
   display: inline-block;
   margin-right: 10px;
}

.tickLabel {
   font-size: 80%;
}

.legend {
   margin-right: 25px;
   float: right;
   display: inline-block;
}

.legend input {
   display: inline;
   margin: 0;
}

.legend label {
   margin-right: 5px;
}

.projectInfo {
   font-size: 10pt;
   padding-left: 10px;
   padding-bottom: 10px;
}

#sidebar {
   border-right: 1px solid #ddd;
   background-color: #eee;
   padding-left: 5px;
   height: 100%;
   width: auto;
   min-width: 200px;
   max-width: 200px;
   float: left;
   padding-right: 5px;
}

#sidebar td {
   padding-right: 5px;
}

#main {
   height: 100%;
   padding-right: 10px;
   padding-left 10px;
   margin: 0;
   overflow-y: auto;
   overflow-x: hidden;
}

#highlighted {
   border-bottom: 1px solid #000;
   color: #000;
   font-weight: bolder;
   padding-top: 2px;
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
}

#main form {
   padding-bottom: 15px;
}

#main h3, p {
   margin-left: 20px;
}

.graphtable {
   border-spacing: 0;
   width: 99%;
   margin-bottom: 10px;
   padding: 0;
   padding-bottom: 5px;
   min-width: 600px;
   background: #eee;
   border: 1px solid #ddd;
   box-shadow: 0 3px 10px rgba(0,0,0,0.15);
   o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
   -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
   -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
   -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.piechart {
   display: table-cell;
   padding: 5px;
   width: 220px;
}

.linechart {
   box-sizing: border-box;
   display: inline-block;
   background-color: #eee;
   width: 100%;
   height: 250px;
   padding: 0;
   margin: 0;
}

#ui-datepicker-div {
   display: none;
}

#tooltip {
   position: absolute;
   display: none;
   background: #fff;
   border: 2px solid #000;
   opacity: 0.9;
}

#tooltip p {
   padding: 2px;
   padding-left: 4px;
   margin: 0;
   font-weight: bold;
}

#tooltip:after, #tooltip:before {
   right: 100%;
   top: 55%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

#tooltip:after {
   border-color: rgba(255, 255, 255, 0);
   border-right-color: #fff;
   border-width: 10px;
   margin-top: -10px;
}
#tooltip:before {
   border-color: rgba(0, 0, 0, 0);
   border-right-color: #000;
   border-width: 13px;
   margin-top: -13px;
}
.graphheader {
   margin: 0;
}
